.first-main{
    display: flex;
    margin-left: 10%;
}
.half-main{
    width: 50%;
   
}
.toptext{
    font-size: 60px;
}
.skip{
    color: orange;
}
.toptextdiv{
    justify-content: center;
    text-align: start;
    align-items: center;
    margin-top: 10%;
}
.linkbtn{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(54, 58, 59) , rgba(0, 255, 251, 0.347));
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 10px;
}
.person-img img{
    width: 735;
    height: 600px;
}
.recipes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.myrecipes{
    width: 25%;
}
.myrecipes h1{
    text-align: center;
}
.myrecipes p{
text-align: center;
}
.cards{
    display: flex;
    /* margin-left: 10%;
    margin-right: 2%; */
    justify-content: center;
    align-items: center;
}
.middle-card{
    margin-left: 5%;
    margin-right: 5%;
}
.cards div{
    padding: 10px;
    height: 450px;
    width: 377px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}
.cards div img{
    width: 375px;
    height: 308px;
    border-radius: 20px;

}
.cards div h2{
    font-weight: 700;
}